<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.remix.ProductMapper">

    <resultMap id="productResultMap" type="com.ohgiraffers.remix.ProductAndRentalDTO">
        <id property="id" column="ID"/>
        <result property="model" column="MODEL"/>
        <result property="ram" column="RAM"/>
        <result property="brand" column="BRAND"/>
        <result property="ssd" column="SSD"/>
        <result property="productDate" column="PRODUCT_DATE"/>
        <association property="idJoin" javaType="com.ohgiraffers.remix.RentalDTO">
            <id property="id" column="ID"/>
            <result property="price" column="PRICE"/>
            <result property="rental" column="rental"/>
        </association>

    </resultMap>


    <select id="selectAllProduct" resultMap="productResultMap">
        SELECT
                  A.ID
                , A.MODEL
                , A.RAM
                , A.SSD
                , A.BRAND
                , A.PRODUCT_DATE
                , B.PRICE
                , B.RENTAL
        FROM PRODUCT A
        JOIN RENTAL B ON A.ID=B.ID
        ORDER BY ID
    </select>

    <select id="selectProductById" resultMap="productResultMap">
        SELECT
                  A.ID
                , A.MODEL
                , A.RAM
                , A.SSD
                , A.BRAND
                , A.PRODUCT_DATE
                , B.PRICE
                , B.RENTAL
            FROM PRODUCT A
            JOIN RENTAL B ON A.ID=B.ID
            WHERE A.ID = #{id}
    </select>

    <update id="registRental" parameterType="com.ohgiraffers.remix.ProductAndRentalDTO">
        UPDATE RENTAL
            SET   ID = #{id}
                , PRICE = #{price}
                , RENTAL = #{rental}
        WHERE ID = #{id}
    </update>

    <insert id="modifyAll" parameterType="com.ohgiraffers.remix.ProductDTO">
        INSERT INTO PRODUCT
        (
        ID
        ,MODEL
        ,RAM
        ,SSD
        ,BRAND
        ,PRODUCT_DATE
        )
        values
        (
        #{id}
        ,#{model}
        ,#{ram}
        ,#{ssd}
        ,#{brand}
        ,'2024-01-01'
        )
    </insert>

    <insert id="modifyAllRental" parameterType="com.ohgiraffers.remix.RentalDTO">
        INSERT INTO RENTAL
        (
            ID
            ,PRICE
            ,RENTAL
        )
        VALUES
        (
            #{id}
            ,#{price}
            ,#{rental}
        )
    </insert>

    <delete id="delete" parameterType="com.ohgiraffers.remix.ProductAndRentalDTO">
        DELETE A,B
        FROM PRODUCT A
        INNER JOIN RENTAL B
        WHERE B.ID = #{id}
        AND A.ID=#{id};
    </delete>
</mapper>